SIAGF/Tupla/Tupla/WebContent/wsdl/ExtincionReconocimiento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.siagf.paperless.cl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.siagf.paperless.cl">
    <wsdl:documentation>ExtincionReconocimiento</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.siagf.paperless.cl" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.siagf.paperless.cl">
            <xs:element name="extincionReconocimiento">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="XmlDetalle" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="extincionReconocimientoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="extincionReconocimientoRequest">
        <wsdl:part name="parameters" element="ns0:extincionReconocimiento"/>
    </wsdl:message>
    <wsdl:message name="extincionReconocimientoResponse">
        <wsdl:part name="parameters" element="ns0:extincionReconocimientoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ExtincionReconocimientoPortType">
        <wsdl:operation name="extincionReconocimiento">
            <wsdl:input message="ns0:extincionReconocimientoRequest" wsaw:Action="urn:extincionReconocimiento"/>
            <wsdl:output message="ns0:extincionReconocimientoResponse" wsaw:Action="urn:extincionReconocimientoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExtincionReconocimientoSOAP11Binding" type="ns0:ExtincionReconocimientoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="extincionReconocimiento">
            <soap:operation soapAction="urn:extincionReconocimiento" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExtincionReconocimientoSOAP12Binding" type="ns0:ExtincionReconocimientoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="extincionReconocimiento">
            <soap12:operation soapAction="urn:extincionReconocimiento" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExtincionReconocimientoHttpBinding" type="ns0:ExtincionReconocimientoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="extincionReconocimiento">
            <http:operation location="ExtincionReconocimiento/extincionReconocimiento"/>
            <wsdl:input>
                <mime:content type="text/xml" part="extincionReconocimiento"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="extincionReconocimiento"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExtincionReconocimiento">
        <wsdl:port name="ExtincionReconocimientoSOAP11port_http" binding="ns0:ExtincionReconocimientoSOAP11Binding">
            <soap:address location="http://siagf.paperless.cl:8081/axis2/services/ExtincionReconocimiento"/>
        </wsdl:port>
        <wsdl:port name="ExtincionReconocimientoSOAP12port_http" binding="ns0:ExtincionReconocimientoSOAP12Binding">
            <soap12:address location="http://siagf.paperless.cl:8081/axis2/services/ExtincionReconocimiento"/>
        </wsdl:port>
        <wsdl:port name="ExtincionReconocimientoHttpport" binding="ns0:ExtincionReconocimientoHttpBinding">
            <http:address location="http://siagf.paperless.cl:8081/axis2/services/ExtincionReconocimiento"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
