Recuperacion/CotizacionesCargasService/CotizacionyCargasServices/WebContent/wsdl/ExtincionSIAGFService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ExtincionSIAGFService" targetNamespace="http://servicios.laaraucana.cl/extincionSIAGF" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.laaraucana.cl/extincionSIAGF" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.laaraucana.cl/extincionSIAGF" schemaLocation="ExtincionSIAGFService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getStatus">
    <part element="tns:getStatus" name="parameters"/>
  </message>
  <message name="getStatusResponse">
    <part element="tns:getStatusResponse" name="parameters"/>
  </message>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="extingueCausantes">
    <part element="tns:extingueCausantes" name="parameters"/>
  </message>
  <message name="extingueCausantesResponse">
    <part element="tns:extingueCausantesResponse" name="parameters"/>
  </message>
  <portType name="ExtincionSIAGFImpl">
    <operation name="getStatus">
      <input message="tns:getStatus" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/getStatus"/>
      <output message="tns:getStatusResponse" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/ExtincionSIAGFImpl/getStatusResponse"/>
    </operation>
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/autenticacionWS"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/ExtincionSIAGFImpl/autenticacionWSResponse"/>
    </operation>
    <operation name="extingueCausantes">
      <input message="tns:extingueCausantes" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/setExtingueCausantes"/>
      <output message="tns:extingueCausantesResponse" wsam:Action="http://servicios.laaraucana.cl/extincionSIAGF/ExtincionSIAGFImpl/extingueCausantesResponse"/>
    </operation>
  </portType>
  <binding name="ExtincionSIAGFPortBinding" type="tns:ExtincionSIAGFImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getStatus">
      <soap:operation soapAction="http://servicios.laaraucana.cl/extincionSIAGF/getStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="autenticacionWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/extincionSIAGF/autenticacionWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="extingueCausantes">
      <soap:operation soapAction="http://servicios.laaraucana.cl/extincionSIAGF/setExtingueCausantes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ExtincionSIAGFService">
    <port binding="tns:ExtincionSIAGFPortBinding" name="ExtincionSIAGFPort">
      <soap:address location="http://localhost:9083/Tupla/ExtincionSIAGFService"/>
    </port>
  </service>
</definitions>