ProyectoRSA75/AutoConsulta/AutoconsultaWeb/WebContent/WEB-INF/wsdl/ConsultaPagoEnExcesoService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ConsultaPagoEnExcesoService" targetNamespace="http://delegate.pagoenexceso.laaraucana.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://delegate.pagoenexceso.laaraucana.cl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://delegate.pagoenexceso.laaraucana.cl/" version="1.0" xmlns:tns="http://delegate.pagoenexceso.laaraucana.cl/">

		  <xs:element name="consultarPagoEnExceso" type="tns:consultarPagoEnExceso"/>

		  <xs:element name="consultarPagoEnExcesoResponse" type="tns:consultarPagoEnExcesoResponse"/>

		  <xs:complexType name="consultarPagoEnExceso">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="rut" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="consultarPagoEnExcesoResponse">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="return" type="tns:consultaPagoEnExcesoOut"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="consultaPagoEnExcesoOut">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="codRespuesta" type="xs:string"/>
		      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
		      <xs:element minOccurs="0" name="pagoEnExceso" type="tns:pagoEnExcesoDTO"/>
		    </xs:sequence>
		  </xs:complexType>

		  <xs:complexType name="pagoEnExcesoDTO">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="fechaCreacion" type="xs:string"/>
		      <xs:element name="monto" type="xs:int"/>
		      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string"/>
		      <xs:element minOccurs="0" name="rut" type="xs:string"/>
		      <xs:element name="tipo" type="xs:int"/>
		    </xs:sequence>
		  </xs:complexType>
		</xs:schema>
  </types>
  <message name="consultarPagoEnExceso">
    <part element="tns:consultarPagoEnExceso" name="parameters"/>
  </message>
  <message name="consultarPagoEnExcesoResponse">
    <part element="tns:consultarPagoEnExcesoResponse" name="parameters"/>
  </message>
  <portType name="ConsultaPagoEnExcesoDelegate">
    <operation name="consultarPagoEnExceso">
      <input message="tns:consultarPagoEnExceso" wsam:Action="http://delegate.pagoenexceso.laaraucana.cl/ConsultaPagoEnExcesoDelegate/consultarPagoEnExcesoRequest"/>
      <output message="tns:consultarPagoEnExcesoResponse" wsam:Action="http://delegate.pagoenexceso.laaraucana.cl/ConsultaPagoEnExcesoDelegate/consultarPagoEnExcesoResponse"/>
    </operation>
  </portType>
  <binding name="ConsultaPagoEnExcesoPortBinding" type="tns:ConsultaPagoEnExcesoDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarPagoEnExceso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConsultaPagoEnExcesoService">
    <port binding="tns:ConsultaPagoEnExcesoPortBinding" name="ConsultaPagoEnExcesoPort">
      <soap:address location="http://146.83.1.35:9080/PagoEnExcesoService/ConsultaPagoEnExcesoService"/>
    </port>
  </service>
</definitions>