SMS/ServicioSMSInterno/WebContent/wsdl/AraucanaSMSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sms.laaraucana.cl/" version="1.0" targetNamespace="http://ws.sms.laaraucana.cl/">

  <xs:element name="sendSMS" type="tns:sendSMS"></xs:element>

  <xs:element name="sendSMSResponse" type="tns:sendSMSResponse"></xs:element>

  <xs:element name="statusSMS" type="tns:statusSMS"></xs:element>

  <xs:element name="statusSMSResponse" type="tns:statusSMSResponse"></xs:element>

  <xs:complexType name="statusSMS">
    <xs:sequence>
      <xs:element name="arg0" type="tns:statusSMSInput" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusSMSInput">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusSMSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:statusSMSOutput" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusSMSOutput">
    <xs:sequence>
      <xs:element name="dateReceived" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dateSend" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dv" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="rut" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="statusCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="statusDescription" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendSMS">
    <xs:sequence>
      <xs:element name="arg0" type="tns:messageInput" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="messageInput">
    <xs:sequence>
      <xs:element name="dv" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="rut" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="urlCondition" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="urlText" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendSMSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:messageOutput" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="messageOutput">
    <xs:sequence>
      <xs:element name="idSMS" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idURL" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="result" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="statusCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="statusDescription" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>