Credito/BotonPago/WebContent/WEB-INF/wsdl/TreasuryMovementCancelOUT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TreasuryMovementCancelOUT"
	targetNamespace="http://lautaro.com/xi/BS/Treasury" xmlns:p1="http://lautaro.com/xi/BS/Treasury"
	xmlns:p2="http://delegate.toAS.legados.integracion.laaraucana.cl/"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsp:UsingPolicy wsdl:required="true" />

	<wsp:Policy wsu:Id="OP_Cancel" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://delegate.toAS.legados.integracion.laaraucana.cl/"
			xmlns="http://delegate.toAS.legados.integracion.laaraucana.cl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="anulaComprobanteEnAs400Response" type="anulaComprobanteEnAs400Response" />
			<xsd:element name="anulaComprobanteEnAs400" type="anulaComprobanteEnAs400" />
			<xsd:complexType name="anulaComprobanteEntradaVO">
				<xsd:sequence>
					<xsd:element name="folio" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="log">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
					<xsd:element name="type" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="anulaComprobanteSalidaVO">
				<xsd:sequence>
					<xsd:element name="log" type="log" minOccurs="0" />
					<xsd:element name="resultCode" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="retorno" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="anulaComprobanteEnAs400">
				<xsd:sequence>
					<xsd:element name="arg0" type="anulaComprobanteEntradaVO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="anulaComprobanteEnAs400Response">
				<xsd:sequence>
					<xsd:element name="return" type="anulaComprobanteSalidaVO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="p2.anulaComprobanteEnAs400">
		<wsdl:documentation />
		<wsdl:part name="parameters" element="p2:anulaComprobanteEnAs400" />
	</wsdl:message>
	<wsdl:message name="p2.anulaComprobanteEnAs400Response">
		<wsdl:documentation />
		<wsdl:part name="parameters" element="p2:anulaComprobanteEnAs400Response" />
	</wsdl:message>
	<wsdl:portType name="TreasuryMovementCancelOUT">
		<wsdl:documentation>Interface Treasury Movement OUT
		</wsdl:documentation>
		<wsdl:operation name="Cancel">
			<wsdl:documentation>Cancel Treasury Movement</wsdl:documentation>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_Cancel" />
			</wsp:Policy>
			<wsdl:input message="p1:p2.anulaComprobanteEnAs400" />
			<wsdl:output message="p1:p2.anulaComprobanteEnAs400Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TreasuryMovementCancelOUTBinding"
		type="p1:TreasuryMovementCancelOUT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="Cancel">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>