Contabilidad/BoletaElectronicaWeb/WebContent/WEB-INF/wsdl/acepta_v2(AS400).wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acepta.com/soap/ca4xml" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="http://acepta.com/soap/ca4xml" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ca4xml" targetNamespace="http://acepta.com/soap/ca4xml">
	<wsdl:types>
		<schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acepta.com/soap/ca4xml" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:typens="http://acepta.com/soap/ca4xml" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://acepta.com/soap/ca4xml" elementFormDefault="unqualified" attributeFormDefault="unqualified">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>			
			<simpleType name="DTEType">
				<restriction base="xs:positiveInteger">
					<enumeration value="39"/>
					<enumeration value="41"/>
				</restriction>
			</simpleType>
			<simpleType name="RUTType">
				<restriction base="xs:string">
					<maxLength value="10"/>
					<minLength value="3"/>
					<pattern value="[0-9]+-([0-9]|K)"/>
				</restriction>
			</simpleType>
			<simpleType name="MntImpType">
				<restriction base="xs:positiveInteger">
					<totalDigits value="18"/>
				</restriction>
			</simpleType>
			<simpleType name="ValorType">
				<restriction base="xs:integer">
					<totalDigits value="18"/>
				</restriction>
			</simpleType>
			<simpleType name="FolioType">
				<restriction base="xs:positiveInteger">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>
			<simpleType name="PctType">
				<restriction base="xs:decimal">
					<totalDigits value="5"/>
					<fractionDigits value="2"/>
					<minInclusive value="0.01"/>
					<maxInclusive value="999.99"/>
				</restriction>
			</simpleType>
			<simpleType name="MontoType">
				<restriction base="xs:nonNegativeInteger">
					<totalDigits value="18"/>
				</restriction>
			</simpleType>
			<simpleType name="FechaHoraType" final="restriction">
				<restriction base="xs:dateTime">
					<minInclusive value="2000-01-01T00:00:00" fixed="true"/>
					<maxInclusive value="2050-12-31T23:59:59"/>
				</restriction>
			</simpleType>
			<simpleType name="Dec5Type">
				<restriction base="xs:decimal">
					<totalDigits value="18"/>
					<fractionDigits value="6"/>
					<minExclusive value="0"/>
				</restriction>
			</simpleType>
			<simpleType name="Dec1Type">
				<restriction base="xs:decimal">
					<totalDigits value="18"/>
					<fractionDigits value="2"/>
					<minExclusive value="0"/>
				</restriction>
			</simpleType>
			<complexType name="DTEDefType">
				<sequence>
					<choice>
						<element name="Boleta" type="tns:BOLETADefType"/>
					</choice>
				</sequence>
				<attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
			</complexType>
			<complexType name="BOLETADefType">
				<sequence>
					<element name="Encabezado">
						<complexType>
							<sequence>
								<element name="IdDoc">
									<complexType>
										<sequence>
											<element name="TipoDTE" type="tns:DTEType"/>
											<element name="Folio" type="tns:FolioType"/>
											<element name="FchEmis" type="xs:date"/>
											<element name="IndServicio">
												<simpleType>
													<restriction base="xs:positiveInteger">
														<enumeration value="1">
														</enumeration>
														<enumeration value="2">
														</enumeration>
														<enumeration value="3">
														</enumeration>
														<enumeration value="4">
														</enumeration>
													</restriction>
												</simpleType>
											</element>
											<element name="IndMntNeto" minOccurs="0">
												<simpleType>
													<restriction base="xs:integer">
														<enumeration value="2">
														</enumeration>
													</restriction>
												</simpleType>
											<element name="PeriodoDesde" type="xs:date" minOccurs="0"/>
											<element name="PeriodoHasta" type="xs:date" minOccurs="0"/>
											<element name="FchVenc" type="xs:date" minOccurs="0"/>
											</element>
										</sequence>
									</complexType>
								</element>
								<element name="Emisor">
									<complexType>
										<sequence>
											<element name="RUTEmisor" type="tns:RUTType"/>
											<element name="RznSocEmisor" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="100"/>
													</restriction>
												</simpleType>
											</element>
											<element name="GiroEmisor" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="80"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CdgSIISucur" minOccurs="0">
												<simpleType>
													<restriction base="xs:positiveInteger">
														<totalDigits value="9"/>
													</restriction>
												</simpleType>
											</element>
											<element name="DirOrigen" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="70"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CmnaOrigen" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CiudadOrigen" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</complexType>
								</element>
								<element name="Receptor">
									<complexType>
										<sequence>
											<element name="RUTRecep" type="tns:RUTType"/>
											<element name="CdgIntRecep" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="RznSocRecep" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="100"/>
													</restriction>
												</simpleType>
											</element>
											<element name="Contacto" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="80"/>
													</restriction>
												</simpleType>
											</element>
											<element name="DirRecep" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="70"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CmnaRecep" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CiudadRecep" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="DirPostal" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="70"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CmnaPostal" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CiudadPostal" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</complexType>
								</element>
								<element name="Totales">
									<complexType>
										<sequence>
											<element name="MntNeto" type="tns:MontoType" minOccurs="0"/>
											<element name="MntExe" type="tns:MontoType" minOccurs="0"/>
											<element name="IVA" type="tns:MntImpType" minOccurs="0"/>
											<element name="MntTotal" type="tns:MontoType"/>
											<element name="MontoNF" type="tns:ValorType" minOccurs="0"/>
											<element name="TotalPeriodo" type="tns:MontoType" minOccurs="0"/>
											<element name="SaldoAnterior" type="tns:ValorType" minOccurs="0"/>
											<element name="VlrPagar" type="tns:ValorType" minOccurs="0"/>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="Detalle" maxOccurs="1000">
						<complexType>
							<sequence>
								<element name="NroLinDet" type="xs:positiveInteger"/>
								<element name="CdgItem" minOccurs="0" maxOccurs="5">
									<complexType>
										<sequence>
											<element name="TpoCodigo">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="10"/>
													</restriction>
												</simpleType>
											</element>
											<element name="VlrCodigo">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="35"/>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</complexType>
								</element>
								<element name="IndExe" minOccurs="0">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<enumeration value="1">
											</enumeration>
											<enumeration value="2">
											</enumeration>
											<enumeration value="6"/>
										</restriction>
									</simpleType>
								</element>
								<element name="ItemEspectaculo" minOccurs="0">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="2"/>
											<totalDigits value="2"/>
											<enumeration value="01">
											</enumeration>
											<enumeration value="02">
											</enumeration>
										</restriction>
									</simpleType>
								</element>
								<element name="RUTMandante" type="tns:RUTType" minOccurs="0"/>
								<element name="NmbItem">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="80"/>
										</restriction>
									</simpleType>
								</element>
								<element name="InfoTicket" minOccurs="0">
									<complexType>
										<sequence>
											<element name="FolioTicket">
												<simpleType>
													<restriction base="xs:positiveInteger">
														<totalDigits value="6"/>
													</restriction>
												</simpleType>
											</element>
											<element name="FchGenera">
												<simpleType>
													<restriction base="xs:dateTime">
														<minInclusive value="2010-03-10T00:00:00"/>
														<maxInclusive value="2050-12-31T23:59:59"/>
													</restriction>
												</simpleType>
											</element>
											<element name="NmbEvento">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="80"/>
													</restriction>
												</simpleType>
											</element>
											<element name="TpoTiket">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="10"/>
													</restriction>
												</simpleType>
											</element>
											<element name="CdgEvento">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="5"/>
													</restriction>
												</simpleType>
											</element>
											<element name="FchEvento">
												<simpleType>
													<restriction base="xs:dateTime">
														<minInclusive value="2010-03-10T00:00:00"/>
														<maxInclusive value="2050-12-31T23:59:59"/>
													</restriction>
												</simpleType>
											</element>
											<element name="LugarEvento">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="80"/>
													</restriction>
												</simpleType>
											</element>
											<element name="UbicEvento">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="20"/>
													</restriction>
												</simpleType>
											</element>
											<element name="FilaUbicEvento" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="3"/>
													</restriction>
												</simpleType>
											</element>
											<element name="AsntoUbicEvento" minOccurs="0">
												<simpleType>
													<restriction base="xs:string">
														<maxLength value="3"/>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</complexType>
								</element>
								<element name="DscItem" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="1000"/>
										</restriction>
									</simpleType>
								</element>
								<element name="QtyItem" type="tns:Dec5Type" minOccurs="0"/>
								<element name="UnmdItem" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="4"/>
										</restriction>
									</simpleType>
								</element>
								<element name="PrcItem" type="tns:Dec5Type" minOccurs="0"/>
								<element name="DescuentoPct" minOccurs="0">
									<simpleType>
										<restriction base="tns:PctType">
											<minInclusive value="0.01"/>
											<maxInclusive value="100.00"/>
										</restriction>
									</simpleType>
								</element>
								<element name="DescuentoMonto" minOccurs="0">
									<simpleType>
										<restriction base="xs:nonNegativeInteger">
											<totalDigits value="18"/>
										</restriction>
									</simpleType>
								</element>
								<element name="RecargoPct" minOccurs="0">
									<simpleType>
										<restriction base="tns:PctType">
											<maxInclusive value="100.00"/>
											<minInclusive value="0.01"/>
										</restriction>
									</simpleType>
								</element>
								<element name="RecargoMonto" minOccurs="0">
									<simpleType>
										<restriction base="xs:nonNegativeInteger">
											<totalDigits value="18"/>
										</restriction>
									</simpleType>
								</element>
								<element name="MontoItem" type="tns:MontoType"/>
							</sequence>
						</complexType>
					</element>
					<element name="SubTotInfo" minOccurs="0" maxOccurs="20">
						<complexType>
							<sequence>
								<element name="NroSTI">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="99"/>
										</restriction>
									</simpleType>
								</element>
								<element name="GlosaSTI" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="80"/>
										</restriction>
									</simpleType>
								</element>
								<element name="OrdenSTI">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="99"/>
										</restriction>
									</simpleType>
								</element>
								<element name="SubTotNetoSTI" type="tns:Dec1Type" minOccurs="0"/>
								<element name="SubTotIVASTI" type="tns:Dec1Type" minOccurs="0"/>
								<element name="SubTotAdicSTI" type="tns:Dec1Type" minOccurs="0"/>
								<element name="SubTotExeSTI" type="tns:Dec1Type" minOccurs="0"/>
								<element name="ValSubtotSTI" type="tns:Dec1Type" minOccurs="0"/>
								<element name="LineasDeta" minOccurs="0" maxOccurs="60">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="60"/>
										</restriction>
									</simpleType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="DscRcgGlobal" minOccurs="0" maxOccurs="20">
						<complexType>
							<sequence>
								<element name="NroLinDR">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="99"/>
											<minInclusive value="1"/>
										</restriction>
									</simpleType>
								</element>
								<element name="TpoMov">
									<simpleType>
										<restriction base="xs:string">
											<enumeration value="D">
											</enumeration>
											<enumeration value="R">
											</enumeration>
										</restriction>
									</simpleType>
								</element>
								<element name="GlosaDR" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="45"/>
										</restriction>
									</simpleType>
								</element>
								<element name="TpoValor">
									<simpleType>
										<restriction base="xs:string">
											<enumeration value="%">
											</enumeration>
											<enumeration value="$">
											</enumeration>
										</restriction>
									</simpleType>
								</element>
								<element name="ValorDR" type="tns:Dec1Type"/>
								<element name="IndExeDR" minOccurs="0">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<enumeration value="1">
											</enumeration>
											<enumeration value="2">
											</enumeration>
										</restriction>
									</simpleType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="Referencia" minOccurs="0" maxOccurs="40">
						<complexType>
							<sequence>
								<element name="NroLinRef">
									<simpleType>
										<restriction base="xs:positiveInteger">
											<maxInclusive value="40"/>
										</restriction>
									</simpleType>
								</element>
								<element name="CodRef" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="18"/>
										</restriction>
									</simpleType>
								</element>
								<element name="RazonRef" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="90"/>
										</restriction>
									</simpleType>
								</element>
								<element name="CodVndor" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="8"/>
										</restriction>
									</simpleType>
								</element>
								<element name="CodCaja" minOccurs="0">
									<simpleType>
										<restriction base="xs:string">
											<maxLength value="8"/>
										</restriction>
									</simpleType>
								</element>
							</sequence>
						</complexType>
					</element>
					<element name="TmstFirma" type="tns:FechaHoraType"/>
					<element name="Adjuntos" minOccurs="0">
						<complexType>
							<sequence>
								<element name="Adj1" minOccurs="0"/>
								<element name="Adj2" minOccurs="0"/>
								<element name="Adj3" minOccurs="0"/>
								<element name="Adj4" minOccurs="0"/>
								<element name="Adj5" minOccurs="0"/>
								<element name="Adj6" minOccurs="0"/>
								<element name="Adj7" minOccurs="0"/>
								<element name="Adj8" minOccurs="0"/>
								<element name="Adj9" minOccurs="0"/>
								<element name="Adj10" minOccurs="0"/>
								<element name="Adj11" minOccurs="0"/>
								<element name="Adj12" minOccurs="0"/>
								<element name="Adj13" minOccurs="0"/>
								<element name="Impresora" minOccurs="0"/>
								<element name="Copias" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<element name="ca4xml" type="tns:ca4xml"/>
			<complexType name="ca4xml">
				<sequence>
					<element name="docid" type="xs:string"/>
					<element name="comando" type="xs:string"/>
					<element name="parametros" type="xs:string"/>
					<element name="datos">
						<complexType>
							<sequence>
								<element name="DTE" type="typens:DTEDefType"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="ca4xmlResponse">
				<sequence>
					<element name="retval">
						<complexType>
							<sequence>
								<element name="Estado" type="string"/>
								<element name="CdgIntRecep" type="string"/>
								<element name="TipoDte" type="string" minOccurs="0"/>
								<element name="Folio" type="string" minOccurs="0"/>
								<element name="Glosa" type="string" minOccurs="0"/>
								<element name="UrlDte" type="string" minOccurs="0"/>
								<element name="UrlAdj" type="string" minOccurs="0"/>
								<element name="RutEmis" type="string" minOccurs="0"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<element name="ca4xmlResponse" type="tns:ca4xmlResponse"/>
		</schema>
	</wsdl:types>
	<message name="ca4xml">
		<part name="ca4xml" element="tns:ca4xml"/>
	</message>
	<message name="ca4xmlResponse">
		<part name="ca4xmlResponse" element="tns:ca4xmlResponse"/>
	</message>
	<portType name="ca4xml">
		<operation name="ca4xml" parameterOrder="ca4xml">
			<input name="ca4xml" message="tns:ca4xml"/>
			<output name="ca4xmlResponse" message="tns:ca4xmlResponse"/>
		</operation>
	</portType>
	<binding name="ca4xml" type="tns:ca4xml">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ca4xml">
			<soap:operation soapAction="ca4xml" style="document"/>
			<input name="ca4xml">
				<soap:body use="literal"/>
			</input>
			<output name="ca4xmlResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ca4xml">
		<port name="ca4xml" binding="tns:ca4xml">
			<soap:address location="http://172.22.6.85:5001/ca4xml"/>
		</port>
	</service>
	<plnk:partnerLinkType name="ca4xml">
		<plnk:role name="ca4xml">
			<plnk:portType name="tns:ca4xml"/>
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
