IntegradorLDAP/mandatoTransferenciaWeb/WebContent/WEB-INF/wsdl/MandatoServicioService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="MandatoServicioService" targetNamespace="http://servicio.laaraucana.cl/mandato" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.laaraucana.cl/mandato" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio.laaraucana.cl/mandato" schemaLocation="MandatoServicioService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ingresarMandato">
    <part element="tns:ingresarMandato" name="parameters"/>
  </message>
  <message name="ingresarMandatoResponse">
    <part element="tns:ingresarMandatoResponse" name="parameters"/>
  </message>
  <message name="consultarMandato">
    <part element="tns:consultarMandato" name="parameters"/>
  </message>
  <message name="consultarMandatoResponse">
    <part element="tns:consultarMandatoResponse" name="parameters"/>
  </message>
  <message name="revocarMandato">
    <part element="tns:revocarMandato" name="parameters"/>
  </message>
  <message name="revocarMandatoResponse">
    <part element="tns:revocarMandatoResponse" name="parameters"/>
  </message>
  <portType name="MandatoServicioImpl">
    <operation name="ingresarMandato">
      <input message="tns:ingresarMandato" wsam:Action="http://servicios.laaraucana.cl/mandato/ingresarMandato"/>
      <output message="tns:ingresarMandatoResponse" wsam:Action="http://servicio.laaraucana.cl/mandato/MandatoServicioImpl/ingresarMandatoResponse"/>
    </operation>
    <operation name="consultarMandato">
      <input message="tns:consultarMandato" wsam:Action="http://servicios.laaraucana.cl/mandato/consultarMandato"/>
      <output message="tns:consultarMandatoResponse" wsam:Action="http://servicio.laaraucana.cl/mandato/MandatoServicioImpl/consultarMandatoResponse"/>
    </operation>
    <operation name="revocarMandato">
      <input message="tns:revocarMandato" wsam:Action="http://servicios.laaraucana.cl/mandato/revocarMandato"/>
      <output message="tns:revocarMandatoResponse" wsam:Action="http://servicio.laaraucana.cl/mandato/MandatoServicioImpl/revocarMandatoResponse"/>
    </operation>
  </portType>
  <binding name="MandatoServicioPortBinding" type="tns:MandatoServicioImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ingresarMandato">
      <soap:operation soapAction="http://servicios.laaraucana.cl/mandato/ingresarMandato"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarMandato">
      <soap:operation soapAction="http://servicios.laaraucana.cl/mandato/consultarMandato"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="revocarMandato">
      <soap:operation soapAction="http://servicios.laaraucana.cl/mandato/revocarMandato"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MandatoServicioService">
    <port binding="tns:MandatoServicioPortBinding" name="MandatoServicioPort">
      <soap:address location="http://localhost:9083/mandatoTransferenciaWeb/MandatoServicioService"/>
    </port>
  </service>
</definitions>