Credito/SatelitesCRM/WebContent/WEB-INF/wsdl/QueryContractCashFlowOUT_modificado.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="QueryContractCashFlowOUT"
	targetNamespace="http://lautaro.com/xi/BS/WEB-Mobile" xmlns:p1="http://lautaro.com/xi/BS/WEB-Mobile"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_QueryContractCashFlow" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://lautaro.com/xi/BS/WEB-Mobile"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://lautaro.com/xi/BS/WEB-Mobile"
			xmlns:p4="http://lautaro.com/xi/BS/Treasury">
			<xsd:import namespace="http://lautaro.com/xi/BS/Treasury" />
			<xsd:element name="QueryContractCashFlowResponseOut"
				type="QueryContractCashFlowResponse" />
			<xsd:element name="QueryContractCashFlowRequestOut" type="QueryContractCashFlowRequest" />
			<xsd:simpleType name="LineaComercial">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">49dffc0dd50911e2cae5000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="NroCuenta">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">77132a16d50911e29765000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="DetalleCuotasCF">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">638a1905f6fa11e384ae0000002327ce
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="FechaVencCuota" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67b8f3045711e3890302004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NroCuota" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd72045711e3887202004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EstadoCuota" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd73045711e3c8c402004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoCapital" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd74045711e3cbf502004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoInteres" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd75045711e3b8ef02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoServAdic" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd76045711e3bb9e02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoSeguros" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0f4c5021f66311e3839842689d14cd01
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TotalCuota" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc67dd77045711e3b9f602004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoGravamenes" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b57045711e3a5e402004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MontoAbono" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b58045711e3c42f02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CapitalRestante" minOccurs="0" type="xsd:string">
					</xsd:element>
					<xsd:element name="UltFechaPago" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b59045711e3853e02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OficinaPago" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b5a045711e3825802004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FolioPago" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b5b045711e3cbc702004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TransactionType" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc680b5c045711e3ba8a02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EstadoPago" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc6831c2045711e3a59f02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Moneda" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fc6831c3045711e38f1702004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="QueryContractCashFlowResponse">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Query Contract Cash
						Flow</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">231a727af09111e2cb74000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="p4:MessageHeader">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">e52a39e7de7911e2a94f02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NroCuenta" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3b1eb533d50a11e2be8400ff18c76214
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LineaComercial" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3b1eb534d50a11e2ad0e00ff18c76214
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DetalleCuotas" type="DetalleCuotasCF"
						minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">479d7f4fd50a11e2c7d100ff18c76214
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="E_TOTAL_CUOTAS" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="ResultCode" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">805609c6f09111e2adc302004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Log" type="p4:Log">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">805609c7f09111e2cf6d02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="QueryContractCashFlowRequest">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">9db3b183de7911e2b289000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="p4:MessageHeader" />
					<xsd:element name="NroCuenta" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">9edd572fde7911e2ab0102004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://lautaro.com/xi/BS/Treasury"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://lautaro.com/xi/BS/Treasury">
			<xsd:simpleType name="ResultCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Resultado de la
						operación</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8ee03591be4311e2bf43000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0" />
					<xsd:maxLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MessageHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Header Entries
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">57b1d0cddd0011e28c71000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="DATECREATION" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b1b7d1a1b7f811e2990442689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Fecha Creacion</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="INTERNALORGANIZATION" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b1b7d1a2b7f811e283ec42689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Sistema Generador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HOST" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b1b800eeb7f811e2913e42689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Host Generador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="USER" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b1b800efb7f811e2a8c742689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Usuario Generador</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Log">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Log Entries
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">cd58aa97dd0011e2990d000000362a9a
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a5f7bb7f411e2b03242689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Tipo Mensaje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fecb7f411e2bdca42689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Clase Mensaje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NUMBER" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fedb7f411e2a31c42689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Numero de Mensaje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a8feeb7f411e2b24c42689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Texto Mensaje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fefb7f411e2813642689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Numero de Log</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">fa8a8ff0b7f411e2c96942689d1519c2
							</xsd:appinfo>
							<xsd:documentation>Numero consecutivo interno de mensaje
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce414447dd0011e2c78002004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce414448dd0011e2aef102004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce414449dd0011e2a83602004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce41444add0011e2892c02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PARAMETER" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce41444bdd0011e2c09802004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ROW" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce41444cdd0011e281c902004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FIELD" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce414c53dd0011e28b5a02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SYSTEM" minOccurs="0" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ce414c54dd0011e2a0bf02004e435049
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="QueryContractCashFlowRequestOut">
		<wsdl:documentation />
		<wsdl:part name="QueryContractCashFlowRequestOut" element="p1:QueryContractCashFlowRequestOut" />
	</wsdl:message>
	<wsdl:message name="QueryContractCashFlowResponseOut">
		<wsdl:documentation />
		<wsdl:part name="QueryContractCashFlowResponseOut" element="p1:QueryContractCashFlowResponseOut" />
	</wsdl:message>
	<wsdl:portType name="QueryContractCashFlowOUT">
		<wsdl:documentation />
		<wsdl:operation name="QueryContractCashFlow">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_QueryContractCashFlow" />
			</wsp:Policy>
			<wsdl:input message="p1:QueryContractCashFlowRequestOut" />
			<wsdl:output message="p1:QueryContractCashFlowResponseOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QueryContractCashFlowOUTBinding" type="p1:QueryContractCashFlowOUT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="QueryContractCashFlow">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QueryContractCashFlowOUTService">
		<wsdl:port name="QueryContractCashFlowOUTPort" binding="p1:QueryContractCashFlowOUTBinding">
			<soap:address
				location="http://ARAMACIPIT.sap.novis.cl:50000/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=WEB_Mobile&amp;Interface=http%3A%2F%2Flautaro.com%2Fxi%2FBS%2FWEB-Mobile%5EQueryContractCashFlowOUT"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>