CertificadosCredito/WebContent/WEB-INF/wsdl/rolesLDAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="rolesLDAPService" targetNamespace="http://servicios.laaraucana.cl/rolesLDAP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.laaraucana.cl/rolesLDAP" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.laaraucana.cl/rolesLDAP" schemaLocation="RolesLDAPService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="getRolesinApp">
    <part element="tns:getRolesinApp" name="parameters"/>
  </message>
  <message name="getRolesinAppResponse">
    <part element="tns:getRolesinAppResponse" name="parameters"/>
  </message>
  <message name="getUsersinRole">
    <part element="tns:getUsersinRole" name="parameters"/>
  </message>
  <message name="getUsersinRoleResponse">
    <part element="tns:getUsersinRoleResponse" name="parameters"/>
  </message>
  <portType name="GestionRolesAPPImpl">
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/autenticacionWS"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/GestionRolesAPPImpl/autenticacionWSResponse"/>
    </operation>
    <operation name="getRolesinApp">
      <input message="tns:getRolesinApp" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/getRolesinApp"/>
      <output message="tns:getRolesinAppResponse" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/GestionRolesAPPImpl/getRolesinAppResponse"/>
    </operation>
    <operation name="getUsersinRole">
      <input message="tns:getUsersinRole" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/getUsersinRole"/>
      <output message="tns:getUsersinRoleResponse" wsam:Action="http://servicios.laaraucana.cl/rolesLDAP/GestionRolesAPPImpl/getUsersinRoleResponse"/>
    </operation>
  </portType>
  <binding name="rolesLDAPPortBinding" type="tns:GestionRolesAPPImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="autenticacionWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/rolesLDAP/autenticacionWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRolesinApp">
      <soap:operation soapAction="http://servicios.laaraucana.cl/rolesLDAP/getRolesinApp"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsersinRole">
      <soap:operation soapAction="http://servicios.laaraucana.cl/rolesLDAP/getUsersinRole"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="rolesLDAPService">
    <port binding="tns:rolesLDAPPortBinding" name="rolesLDAPPort">
      <soap:address location="http://localhost:9083/IntegradorLDAP/rolesLDAPService"/>
    </port>
  </service>
</definitions>