OTROS/WSConsultaAfiliacion/WSConsultaAfiliacion/WebContent/WEB-INF/wsdl/EstadoAfiliacionService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="EstadoAfiliacionService" targetNamespace="http://servicios.laaraucana.cl/estadoAfiliacion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.laaraucana.cl/estadoAfiliacion" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.laaraucana.cl/estadoAfiliacion" schemaLocation="EstadoAfiliacionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getStatus">
    <part element="tns:getStatus" name="parameters"/>
  </message>
  <message name="getStatusResponse">
    <part element="tns:getStatusResponse" name="parameters"/>
  </message>
  <message name="SOAPException">
    <part element="tns:SOAPException" name="fault"/>
  </message>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="SQLException">
    <part element="tns:SQLException" name="fault"/>
  </message>
  <message name="getEstadoAfiliacion">
    <part element="tns:getEstadoAfiliacion" name="parameters"/>
  </message>
  <message name="getEstadoAfiliacionResponse">
    <part element="tns:getEstadoAfiliacionResponse" name="parameters"/>
  </message>
  <message name="getDatosAfiliacion">
    <part element="tns:getDatosAfiliacion" name="parameters"/>
  </message>
  <message name="getDatosAfiliacionResponse">
    <part element="tns:getDatosAfiliacionResponse" name="parameters"/>
  </message>
  <portType name="ConsultaAfiliacionImpl">
    <operation name="getStatus">
      <input message="tns:getStatus" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/getStatus"/>
      <output message="tns:getStatusResponse" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getStatusResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getStatus/Fault/SOAPException"/>
    </operation>
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/autenticacionWS"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/autenticacionWSResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/autenticacionWS/Fault/SOAPException"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/autenticacionWS/Fault/SQLException"/>
    </operation>
    <operation name="getEstadoAfiliacion">
      <input message="tns:getEstadoAfiliacion" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/getEstadoAfiliacion"/>
      <output message="tns:getEstadoAfiliacionResponse" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getEstadoAfiliacionResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getEstadoAfiliacion/Fault/SOAPException"/>
    </operation>
    <operation name="getDatosAfiliacion">
      <input message="tns:getDatosAfiliacion" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/getDatosAfiliacion"/>
      <output message="tns:getDatosAfiliacionResponse" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getDatosAfiliacionResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://servicios.laaraucana.cl/estadoAfiliacion/ConsultaAfiliacionImpl/getDatosAfiliacion/Fault/SOAPException"/>
    </operation>
  </portType>
  <binding name="ConsultaAfiliacionPortBinding" type="tns:ConsultaAfiliacionImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getStatus">
      <soap:operation soapAction="http://servicios.laaraucana.cl/estadoAfiliacion/getStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
    <operation name="autenticacionWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/estadoAfiliacion/autenticacionWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getEstadoAfiliacion">
      <soap:operation soapAction="http://servicios.laaraucana.cl/estadoAfiliacion/getEstadoAfiliacion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDatosAfiliacion">
      <soap:operation soapAction="http://servicios.laaraucana.cl/estadoAfiliacion/getDatosAfiliacion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstadoAfiliacionService">
    <port binding="tns:ConsultaAfiliacionPortBinding" name="ConsultaAfiliacionPort">
      <soap:address location="http://localhost:9083/WSConsultaAfiliado/EstadoAfiliacionService"/>
    </port>
  </service>
</definitions>