WS Independiente/AporteWS/WebContent/WEB-INF/wsdl/DatosAuxiliaresService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="DatosAuxiliaresService" targetNamespace="http://delegate.webservices.capaservicios.laaraucana.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://delegate.webservices.capaservicios.laaraucana.cl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://delegate.webservices.capaservicios.laaraucana.cl/" schemaLocation="DatosAuxiliaresService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getListaBancos">
    <part element="tns:getListaBancos" name="parameters"/>
  </message>
  <message name="getListaBancosResponse">
    <part element="tns:getListaBancosResponse" name="parameters"/>
  </message>
  <message name="getTiposCuenta">
    <part element="tns:getTiposCuenta" name="parameters"/>
  </message>
  <message name="getTiposCuentaResponse">
    <part element="tns:getTiposCuentaResponse" name="parameters"/>
  </message>
  <message name="getComunasProvRegiones">
    <part element="tns:getComunasProvRegiones" name="parameters"/>
  </message>
  <message name="getComunasProvRegionesResponse">
    <part element="tns:getComunasProvRegionesResponse" name="parameters"/>
  </message>
  <portType name="DatosAuxiliaresDelegate">
    <operation name="getListaBancos">
      <input message="tns:getListaBancos" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getListaBancosRequest"/>
      <output message="tns:getListaBancosResponse" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getListaBancosResponse"/>
    </operation>
    <operation name="getTiposCuenta">
      <input message="tns:getTiposCuenta" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getTiposCuentaRequest"/>
      <output message="tns:getTiposCuentaResponse" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getTiposCuentaResponse"/>
    </operation>
    <operation name="getComunasProvRegiones">
      <input message="tns:getComunasProvRegiones" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getComunasProvRegionesRequest"/>
      <output message="tns:getComunasProvRegionesResponse" wsam:Action="http://delegate.webservices.capaservicios.laaraucana.cl/DatosAuxiliaresDelegate/getComunasProvRegionesResponse"/>
    </operation>
  </portType>
  <binding name="DatosAuxiliaresPortBinding" type="tns:DatosAuxiliaresDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getListaBancos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTiposCuenta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getComunasProvRegiones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DatosAuxiliaresService">
    <port binding="tns:DatosAuxiliaresPortBinding" name="DatosAuxiliaresPort">
      <soap:address location="http://localhost:9082/InterfazServiciosCredEspecial/DatosAuxiliaresService"/>
    </port>
  </service>
</definitions>