WS Independiente/AporteWS/WebContent/WEB-INF/wsdl/QueryCompContHeaderOUT2Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryCompContHeaderOUT2" targetNamespace="http://lautaro.com/xi/BS/WEB-Mobile" xmlns:p1="http://lautaro.com/xi/BS/WEB-Mobile" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_QueryCompContrHeader"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lautaro.com/xi/BS/WEB-Mobile" xmlns="http://lautaro.com/xi/BS/WEB-Mobile" xmlns:p5="http://lautaro.com/xi/BS/Treasury">
      <xsd:import namespace="http://lautaro.com/xi/BS/Treasury"/>
      <xsd:element name="QueryCompactContractHeaderRequestOut" type="QueryCompactContractHeaderRequest"/>
      <xsd:element name="QueryCompactContractHeaderResponseOut2" type="QueryCompactContractHeaderResponse2"/>
      <xsd:complexType name="QueryCompactContractHeaderResponse2">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Query Compact Contract Header Response</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">f25f6898702011e49f4d0000002327ce</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="MessageHeader" type="p5:MessageHeader">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0f441c2bd43611e2859a00ff18c76214</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="QueryCompactContractHeader" type="QueryCompactContractHeader2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0f441c2cd43611e2b37400ff18c76214</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ResultCode" type="p5:ResultCode">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0f441c2dd43611e2a17900ff18c76214</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Log" type="p5:Log">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0f441c2ed43611e2acd600ff18c76214</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryCompactContract">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Query Compact Contract Header</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">6447d506ce1c11e2b31d000000362a9a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Rut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CreditStatus">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryCompactContractHeaderRequest">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Query Compact Contract Header Request</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">eb321043ce2111e2b541000000362a9a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="MessageHeader" type="p5:MessageHeader"/>
          <xsd:element name="QueryCompactContractHeader" type="QueryCompactContract"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QueryCompactContractHeader2">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Query Compact Contract Header</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">39f5a1af702711e497ff0000002327ce</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ContractNumber">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9e01ea3ace2111e2bf0f00ff18c76214</xsd:appinfo>
              <xsd:documentation>Account Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Terminated">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f1a69dcfc11e2be0702004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WithExtintion">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f1a6adcfc11e2946f02004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Role">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9e021ca9ce2111e2a26e00ff18c76214</xsd:appinfo>
              <xsd:documentation>BP Role</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Payer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f1a6bdcfc11e2ba8a02004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ContractAmount">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9e021caace2111e2a4d200ff18c76214</xsd:appinfo>
              <xsd:documentation>Limit Amount</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="23"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ContractBegin" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f1a6cdcfc11e295be02004e435049</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ContractEnd" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f1a6ddcfc11e2ca4402004e435049</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="InstallmentAmount">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9e021cabce2111e2cc0400ff18c76214</xsd:appinfo>
              <xsd:documentation>Amount of the Amount Item</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="23"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="InstallmentQuantity">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9e021cacce2111e296c800ff18c76214</xsd:appinfo>
              <xsd:documentation>Counter</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Repacta">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f3bc8dcfc11e2a0fb02004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ContractCurrency">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fb3f3bc9dcfc11e2bba802004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Reprogramac">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8dbeb43504f011e3b14002004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="BP_ANEXO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NRO_INSCRIPCION">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RUT_EMPRESA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lautaro.com/xi/BS/Treasury" xmlns="http://lautaro.com/xi/BS/Treasury">
      <xsd:simpleType name="ResultCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Resultado de la operación</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">8ee03591be4311e2bf43000000362a9a</xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0"/>
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MessageHeader">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Header Entries</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">57b1d0cddd0011e28c71000000362a9a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DATECREATION" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1b7d1a1b7f811e2990442689d1519c2</xsd:appinfo>
              <xsd:documentation>Fecha Creacion</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="INTERNALORGANIZATION">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1b7d1a2b7f811e283ec42689d1519c2</xsd:appinfo>
              <xsd:documentation>Sistema Generador</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="HOST">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1b800eeb7f811e2913e42689d1519c2</xsd:appinfo>
              <xsd:documentation>Host Generador</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="USER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b1b800efb7f811e2a8c742689d1519c2</xsd:appinfo>
              <xsd:documentation>Usuario Generador</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Log">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Log Entries</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">cd58aa97dd0011e2990d000000362a9a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a5f7bb7f411e2b03242689d1519c2</xsd:appinfo>
              <xsd:documentation>Tipo Mensaje</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fecb7f411e2bdca42689d1519c2</xsd:appinfo>
              <xsd:documentation>Clase Mensaje</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fedb7f411e2a31c42689d1519c2</xsd:appinfo>
              <xsd:documentation>Numero de Mensaje</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a8feeb7f411e2b24c42689d1519c2</xsd:appinfo>
              <xsd:documentation>Texto Mensaje</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a8fefb7f411e2813642689d1519c2</xsd:appinfo>
              <xsd:documentation>Numero de Log</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">fa8a8ff0b7f411e2c96942689d1519c2</xsd:appinfo>
              <xsd:documentation>Numero consecutivo interno de mensaje</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce414447dd0011e2c78002004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce414448dd0011e2aef102004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce414449dd0011e2a83602004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce41444add0011e2892c02004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce41444bdd0011e2c09802004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="32"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce41444cdd0011e281c902004e435049</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FIELD" type="xsd:integer">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce414c53dd0011e28b5a02004e435049</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ce414c54dd0011e2a0bf02004e435049</xsd:appinfo>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryCompactContractHeaderRequestOut">
    <wsdl:documentation/>
    <wsdl:part element="p1:QueryCompactContractHeaderRequestOut" name="QueryCompactContractHeaderRequestOut"/>
  </wsdl:message>
  <wsdl:message name="QueryCompactContractHeaderResponseOut2">
    <wsdl:documentation/>
    <wsdl:part element="p1:QueryCompactContractHeaderResponseOut2" name="QueryCompactContractHeaderResponseOut2"/>
  </wsdl:message>
  <wsdl:portType name="QueryCompContHeaderOUT2">
    <wsdl:documentation/>
    <wsdl:operation name="QueryCompContrHeader">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_QueryCompContrHeader"/>
      </wsp:Policy>
      <wsdl:input message="p1:QueryCompactContractHeaderRequestOut"/>
      <wsdl:output message="p1:QueryCompactContractHeaderResponseOut2"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueryCompContHeaderOUT2Binding" type="p1:QueryCompContHeaderOUT2">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="QueryCompContrHeader">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryCompContHeaderOUT2Service">
    <wsdl:port binding="p1:QueryCompContHeaderOUT2Binding" name="HTTP_Port">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://aradecipid.laaraucana.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WEB_Mobile&amp;receiverParty=&amp;receiverService=&amp;interface=QueryCompContHeaderOUT2&amp;interfaceNamespace=http%3A%2F%2Flautaro.com%2Fxi%2FBS%2FWEB-Mobile"/>
    </wsdl:port>
    <wsdl:port binding="p1:QueryCompContHeaderOUT2Binding" name="HTTPS_Port">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://aradecipid.laaraucana.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WEB_Mobile&amp;receiverParty=&amp;receiverService=&amp;interface=QueryCompContHeaderOUT2&amp;interfaceNamespace=http%3A%2F%2Flautaro.com%2Fxi%2FBS%2FWEB-Mobile"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>