LME/AltasBajasIMED/AltasBajasIMED/WebContent/WEB-INF/wsdl/wsBajaBeneficiario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wmImed_SrvBaja">
        <s:complexType>
          <s:sequence>
            
                <s:element name="Credenciales">
                <s:complexType>
                <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="CodigoEntidad" type="s:int" />
                <s:element minOccurs="1" maxOccurs="1" name="RutUsuario" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="Clave" type="s:int" />
                </s:sequence>
                </s:complexType>
                </s:element>  
                <s:element name="Beneficiario">
                <s:complexType>
                <s:sequence>              
                <s:element minOccurs="1" maxOccurs="1" name="RutBeneficiario" type="s:string" />        
                <s:element minOccurs="1" maxOccurs="1" name="FechaFinVigencia" type="s:date" />
                <s:element minOccurs="1" maxOccurs="1" name="CodigoPlan" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="RutTitular" type="s:string" />
                </s:sequence>
                </s:complexType>
                </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wmImed_SrvBajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="Mensaje" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="CodigoTransaccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wmImed_SrvBajaSoapIn">
    <wsdl:part name="parameters" element="tns:wmImed_SrvBaja" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvBajaSoapOut">
    <wsdl:part name="parameters" element="tns:wmImed_SrvBajaResponse" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvBajaHttpGetIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvBajaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvBajaHttpPostIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvBajaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="wsBajaSoap">
    <wsdl:operation name="wmImed_SrvBaja">
      <wsdl:input message="tns:wmImed_SrvBajaSoapIn" />
      <wsdl:output message="tns:wmImed_SrvBajaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsBajaHttpGet">
    <wsdl:operation name="wmImed_SrvBaja">
      <wsdl:input message="tns:wmImed_SrvBajaHttpGetIn" />
      <wsdl:output message="tns:wmImed_SrvBajaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsBajaHttpPost">
    <wsdl:operation name="wmImed_SrvBaja">
      <wsdl:input message="tns:wmImed_SrvBajaHttpPostIn" />
      <wsdl:output message="tns:wmImed_SrvBajaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBajaSoap" type="tns:wsBajaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmImed_SrvBaja">
      <soap:operation soapAction="http://tempuri.org/wmImed_SrvBaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBajaHttpGet" type="tns:wsBajaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wmImed_SrvBaja">
      <http:operation location="/wmImed_SrvBaja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBajaHttpPost" type="tns:wsBajaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wmImed_SrvBaja">
      <http:operation location="/wmImed_SrvBaja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBaja">
    <wsdl:port name="wsBajaSoap" binding="tns:wsBajaSoap">
      <soap:address location="http://liquidador3pre.i-med.cl/wsImed/wsBajaBeneficiario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBajaHttpGet" binding="tns:wsBajaHttpGet">
      <http:address location="http://liquidador3pre.i-med.cl/wsImed/wsBajaBeneficiario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBajaHttpPost" binding="tns:wsBajaHttpPost">
      <http:address location="http://liquidador3pre.i-med.cl/wsImed/wsBajaBeneficiario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>