Cotizaciones/TGRBonifica/WebContent/WEB-INF/wsdl/ConsultaCotizacionesImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ConsultaCotizacionesImplService" targetNamespace="http://mgr.tgr.araucana.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mgr.tgr.araucana.cl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://mgr.tgr.araucana.cl/" schemaLocation="ConsultaCotizacionesImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getStatus">
    <part element="tns:getStatus" name="parameters"/>
  </message>
  <message name="getStatusResponse">
    <part element="tns:getStatusResponse" name="parameters"/>
  </message>
  <message name="SOAPException">
    <part element="tns:SOAPException" name="fault"/>
  </message>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="getCotizacionesByTrabajador">
    <part element="tns:getCotizacionesByTrabajador" name="parameters"/>
  </message>
  <message name="getCotizacionesByTrabajadorResponse">
    <part element="tns:getCotizacionesByTrabajadorResponse" name="parameters"/>
  </message>
  <message name="getCotizacionesByTrabajadores">
    <part element="tns:getCotizacionesByTrabajadores" name="parameters"/>
  </message>
  <message name="getCotizacionesByTrabajadoresResponse">
    <part element="tns:getCotizacionesByTrabajadoresResponse" name="parameters"/>
  </message>
  <portType name="ConsultaCotizacionesImpl">
    <operation name="getStatus">
      <input message="tns:getStatus" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getStatusRequest"/>
      <output message="tns:getStatusResponse" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getStatusResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getStatus/Fault/SOAPException"/>
    </operation>
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/autenticacionWSRequest"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/autenticacionWSResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/autenticacionWS/Fault/SOAPException"/>
    </operation>
    <operation name="getCotizacionesByTrabajador">
      <input message="tns:getCotizacionesByTrabajador" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajadorRequest"/>
      <output message="tns:getCotizacionesByTrabajadorResponse" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajadorResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajador/Fault/SOAPException"/>
    </operation>
    <operation name="getCotizacionesByTrabajadores">
      <input message="tns:getCotizacionesByTrabajadores" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajadoresRequest"/>
      <output message="tns:getCotizacionesByTrabajadoresResponse" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajadoresResponse"/>
      <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://mgr.tgr.araucana.cl/ConsultaCotizacionesImpl/getCotizacionesByTrabajadores/Fault/SOAPException"/>
    </operation>
  </portType>
  <binding name="ConsultaCotizacionesImplPortBinding" type="tns:ConsultaCotizacionesImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
    <operation name="autenticacionWS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCotizacionesByTrabajador">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCotizacionesByTrabajadores">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ConsultaCotizacionesImplService">
    <port binding="tns:ConsultaCotizacionesImplPortBinding" name="ConsultaCotizacionesImplPort">
      <soap:address location="http://localhost:9081/TGRBonifica/ConsultaCotizacionesImplService"/>
    </port>
  </service>
</definitions>