IntegradorLDAP/BeneficioAniversario/BeneficioAniversario/WebContent/WEB-INF/wsdl/BeneficioAniversarioService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="benefServicioService" targetNamespace="http://servicio.laaraucana.cl/benef" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.laaraucana.cl/benef" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio.laaraucana.cl/benef" schemaLocation="BenefServicioService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="confirmaBeneficio">
    <part element="tns:confirmaBeneficio" name="parameters"/>
  </message>
  <message name="confirmaBeneficioResponse">
    <part element="tns:confirmaBeneficioResponse" name="parameters"/>
  </message>
  <message name="consultaBeneficio">
    <part element="tns:consultaBeneficio" name="parameters"/>
  </message>
  <message name="consultaBeneficioResponse">
    <part element="tns:consultaBeneficioResponse" name="parameters"/>
  </message>
  <portType name="BeneficioAniversarioServicioImpl">
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://servicios.laaraucana.cl/benef/autenticacionWS"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://servicio.laaraucana.cl/benef/BeneficioAniversarioServicioImpl/autenticacionWSResponse"/>
    </operation>
    <operation name="confirmaBeneficio">
      <input message="tns:confirmaBeneficio" wsam:Action="http://servicios.laaraucana.cl/benef/confirmaBeneficio"/>
      <output message="tns:confirmaBeneficioResponse" wsam:Action="http://servicio.laaraucana.cl/benef/BeneficioAniversarioServicioImpl/confirmaBeneficioResponse"/>
    </operation>
    <operation name="consultaBeneficio">
      <input message="tns:consultaBeneficio" wsam:Action="http://servicios.laaraucana.cl/benef/consultaBeneficio"/>
      <output message="tns:consultaBeneficioResponse" wsam:Action="http://servicio.laaraucana.cl/benef/BeneficioAniversarioServicioImpl/consultaBeneficioResponse"/>
    </operation>
  </portType>
  <binding name="benefServicioPortBinding" type="tns:BeneficioAniversarioServicioImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="autenticacionWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/benef/autenticacionWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="confirmaBeneficio">
      <soap:operation soapAction="http://servicios.laaraucana.cl/benef/confirmaBeneficio"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaBeneficio">
      <soap:operation soapAction="http://servicios.laaraucana.cl/benef/consultaBeneficio"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="benefServicioService">
    <port binding="tns:benefServicioPortBinding" name="benefServicioPort">
      <soap:address location="http://localhost:9083/BeneficioAniversario/benefServicioService"/>
    </port>
  </service>
</definitions>