Credito/WSConsultaAfiliacion/WebContent/wsdl/Autenticacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.siagf.paperless.cl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.siagf.paperless.cl">
    <wsdl:documentation>Autenticacion</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.siagf.paperless.cl" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.siagf.paperless.cl">
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CodigoEntidad" type="xs:int"/>
                        <xs:element minOccurs="0" name="LoginUsuario" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ClaveUsuario" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns0:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns0:loginResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutenticacionPortType">
        <wsdl:operation name="login">
            <wsdl:input message="ns0:loginRequest" wsaw:Action="urn:login"/>
            <wsdl:output message="ns0:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutenticacionSOAP11Binding" type="ns0:AutenticacionPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutenticacionSOAP12Binding" type="ns0:AutenticacionPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="login">
            <soap12:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutenticacionHttpBinding" type="ns0:AutenticacionPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="login">
            <http:operation location="Autenticacion/login"/>
            <wsdl:input>
                <mime:content type="text/xml" part="login"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="login"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Autenticacion">
        <wsdl:port name="AutenticacionSOAP11port_http" binding="ns0:AutenticacionSOAP11Binding">
            <soap:address location="http://siagf.paperless.cl:8081/axis2/services/Autenticacion"/>
        </wsdl:port>
        <wsdl:port name="AutenticacionSOAP12port_http" binding="ns0:AutenticacionSOAP12Binding">
            <soap12:address location="http://siagf.paperless.cl:8081/axis2/services/Autenticacion"/>
        </wsdl:port>
        <wsdl:port name="AutenticacionHttpport" binding="ns0:AutenticacionHttpBinding">
            <http:address location="http://siagf.paperless.cl:8081/axis2/services/Autenticacion"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
