Credito/WSConsultaAfiliacion/WebContent/wsdl/ConsultaCausante.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.siagf.paperless.cl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.siagf.paperless.cl">
    <wsdl:documentation>ConsultaCausante</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.siagf.paperless.cl" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.siagf.paperless.cl">
            <xs:element name="consultaCausante">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="RutCausante" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consultaCausanteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultaCausanteRequest">
        <wsdl:part name="parameters" element="ns0:consultaCausante"/>
    </wsdl:message>
    <wsdl:message name="consultaCausanteResponse">
        <wsdl:part name="parameters" element="ns0:consultaCausanteResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConsultaCausantePortType">
        <wsdl:operation name="consultaCausante">
            <wsdl:input message="ns0:consultaCausanteRequest" wsaw:Action="urn:consultaCausante"/>
            <wsdl:output message="ns0:consultaCausanteResponse" wsaw:Action="urn:consultaCausanteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultaCausanteSOAP11Binding" type="ns0:ConsultaCausantePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultaCausante">
            <soap:operation soapAction="urn:consultaCausante" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsultaCausanteSOAP12Binding" type="ns0:ConsultaCausantePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultaCausante">
            <soap12:operation soapAction="urn:consultaCausante" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConsultaCausanteHttpBinding" type="ns0:ConsultaCausantePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="consultaCausante">
            <http:operation location="ConsultaCausante/consultaCausante"/>
            <wsdl:input>
                <mime:content type="text/xml" part="consultaCausante"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="consultaCausante"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultaCausante">
        <wsdl:port name="ConsultaCausanteSOAP11port_http" binding="ns0:ConsultaCausanteSOAP11Binding">
            <soap:address location="http://siagf.paperless.cl:8081/axis2/services/ConsultaCausante"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCausanteSOAP12port_http" binding="ns0:ConsultaCausanteSOAP12Binding">
            <soap12:address location="http://siagf.paperless.cl:8081/axis2/services/ConsultaCausante"/>
        </wsdl:port>
        <wsdl:port name="ConsultaCausanteHttpport" binding="ns0:ConsultaCausanteHttpBinding">
            <http:address location="http://siagf.paperless.cl:8081/axis2/services/ConsultaCausante"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
