ProyectoRSA75/Previpass/CotPrevIndependienteWeb/WebContent/wsdl/InServiceInd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.cp.araucana.cl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.cp.araucana.cl" xmlns:intf="http://services.cp.araucana.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.cp.araucana.cl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="creaIndependiente">
    <complexType>
     <sequence>
      <element name="rut" type="xsd:int"/>
      <element name="dv" type="xsd:string"/>
      <element name="apellidoPaterno" type="xsd:string"/>
      <element name="apellidoMaterno" type="xsd:string"/>
      <element name="nombres" type="xsd:string"/>
      <element name="genero" type="xsd:int"/>
      <element name="codigoActividadEconomica" type="xsd:int"/>
      <element name="tipoDireccion" type="xsd:string"/>
      <element name="direccion" type="xsd:string"/>
      <element name="numero" type="xsd:string"/>
      <element name="dpto" type="xsd:string"/>
      <element name="idComuna" type="xsd:int"/>
      <element name="email" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="fax" type="xsd:string"/>
      <element name="celular" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creaIndependienteResponse">
    <complexType>
     <sequence>
      <element name="creaIndependienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="creaIndependienteRequest">

      <wsdl:part element="intf:creaIndependiente" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="creaIndependienteResponse">

      <wsdl:part element="intf:creaIndependienteResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="InServiceInd">

      <wsdl:operation name="creaIndependiente">

         <wsdl:input message="intf:creaIndependienteRequest" name="creaIndependienteRequest"/>

         <wsdl:output message="intf:creaIndependienteResponse" name="creaIndependienteResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InServiceIndSoapBinding" type="intf:InServiceInd">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="creaIndependiente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creaIndependienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creaIndependienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InServiceIndService">

      <wsdl:port binding="intf:InServiceIndSoapBinding" name="InServiceInd">

         <wsdlsoap:address location="https://localhost:9443/CotPrevIndependienteWeb/services/InServiceInd"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
