ProyectoRSA75/Previpass/WS Direccion Trabajo/IntegracionWeb/WebContent/wsdl/IntegracionDT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.integracion.laaraucana.cl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.integracion.laaraucana.cl" xmlns:intf="http://impl.integracion.laaraucana.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.integracion.laaraucana.cl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="integracionDT">
    <complexType>
     <sequence>
      <element name="entrada" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="integracionDTResponse">
    <complexType>
     <sequence>
      <element name="integracionDTReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="integracionDTRequest">

      <wsdl:part element="intf:integracionDT" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="integracionDTResponse">

      <wsdl:part element="intf:integracionDTResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="IntegracionDT">

      <wsdl:operation name="integracionDT">

         <wsdl:input message="intf:integracionDTRequest" name="integracionDTRequest"/>

         <wsdl:output message="intf:integracionDTResponse" name="integracionDTResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IntegracionDTSoapBinding" type="intf:IntegracionDT">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="integracionDT">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="integracionDTRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="integracionDTResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IntegracionDTService">

      <wsdl:port binding="intf:IntegracionDTSoapBinding" name="IntegracionDT">

         <wsdlsoap:address location="https://localhost:9443/IntegracionWeb/services/IntegracionDT"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
