Asfam/Tupla/WebContent/wsdl/IngresoReconocimiento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.siagf.paperless.cl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.siagf.paperless.cl">
    <wsdl:documentation>IngresoReconocimiento</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.siagf.paperless.cl" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.siagf.paperless.cl">
            <xs:element name="ingresoReconocimiento">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="XmlDetalle" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ingresoReconocimientoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ingresoReconocimientoRequest">
        <wsdl:part name="parameters" element="ns0:ingresoReconocimiento"/>
    </wsdl:message>
    <wsdl:message name="ingresoReconocimientoResponse">
        <wsdl:part name="parameters" element="ns0:ingresoReconocimientoResponse"/>
    </wsdl:message>
    <wsdl:portType name="IngresoReconocimientoPortType">
        <wsdl:operation name="ingresoReconocimiento">
            <wsdl:input message="ns0:ingresoReconocimientoRequest" wsaw:Action="urn:ingresoReconocimiento"/>
            <wsdl:output message="ns0:ingresoReconocimientoResponse" wsaw:Action="urn:ingresoReconocimientoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IngresoReconocimientoSOAP11Binding" type="ns0:IngresoReconocimientoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ingresoReconocimiento">
            <soap:operation soapAction="urn:ingresoReconocimiento" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IngresoReconocimientoSOAP12Binding" type="ns0:IngresoReconocimientoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ingresoReconocimiento">
            <soap12:operation soapAction="urn:ingresoReconocimiento" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IngresoReconocimientoHttpBinding" type="ns0:IngresoReconocimientoPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ingresoReconocimiento">
            <http:operation location="IngresoReconocimiento/ingresoReconocimiento"/>
            <wsdl:input>
                <mime:content type="text/xml" part="ingresoReconocimiento"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="ingresoReconocimiento"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IngresoReconocimiento">
        <wsdl:port name="IngresoReconocimientoSOAP11port_http" binding="ns0:IngresoReconocimientoSOAP11Binding">
            <soap:address location="http://siagf.paperless.cl:8081/axis2/services/IngresoReconocimiento"/>
        </wsdl:port>
        <wsdl:port name="IngresoReconocimientoSOAP12port_http" binding="ns0:IngresoReconocimientoSOAP12Binding">
            <soap12:address location="http://siagf.paperless.cl:8081/axis2/services/IngresoReconocimiento"/>
        </wsdl:port>
        <wsdl:port name="IngresoReconocimientoHttpport" binding="ns0:IngresoReconocimientoHttpBinding">
            <http:address location="http://siagf.paperless.cl:8081/axis2/services/IngresoReconocimiento"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
