IntegradorLDAP/IntegradorLDAP/WebContent/WEB-INF/wsdl/usuariosLDAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="usuariosLDAPService" targetNamespace="http://servicios.laaraucana.cl/usuariosLDAP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.laaraucana.cl/usuariosLDAP" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicios.laaraucana.cl/usuariosLDAP" schemaLocation="UsuariosLDAPService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="autenticacionUWS">
    <part element="tns:autenticacionUWS" name="parameters"/>
  </message>
  <message name="autenticacionUWSResponse">
    <part element="tns:autenticacionUWSResponse" name="parameters"/>
  </message>
  <message name="addUsuario">
    <part element="tns:addUsuario" name="parameters"/>
  </message>
  <message name="addUsuarioResponse">
    <part element="tns:addUsuarioResponse" name="parameters"/>
  </message>
  <message name="delUsuario">
    <part element="tns:delUsuario" name="parameters"/>
  </message>
  <message name="delUsuarioResponse">
    <part element="tns:delUsuarioResponse" name="parameters"/>
  </message>
  <message name="changePassword">
    <part element="tns:changePassword" name="parameters"/>
  </message>
  <message name="changePasswordResponse">
    <part element="tns:changePasswordResponse" name="parameters"/>
  </message>
  <portType name="RegistrarUsuarioImpl">
    <operation name="autenticacionUWS">
      <input message="tns:autenticacionUWS" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/autenticacionUWS"/>
      <output message="tns:autenticacionUWSResponse" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/RegistrarUsuarioImpl/autenticacionUWSResponse"/>
    </operation>
    <operation name="addUsuario">
      <input message="tns:addUsuario" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/addUsuario"/>
      <output message="tns:addUsuarioResponse" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/RegistrarUsuarioImpl/addUsuarioResponse"/>
    </operation>
    <operation name="delUsuario">
      <input message="tns:delUsuario" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/delUsuario"/>
      <output message="tns:delUsuarioResponse" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/RegistrarUsuarioImpl/delUsuarioResponse"/>
    </operation>
    <operation name="changePassword">
      <input message="tns:changePassword" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/changePassword"/>
      <output message="tns:changePasswordResponse" wsam:Action="http://servicios.laaraucana.cl/usuariosLDAP/RegistrarUsuarioImpl/changePasswordResponse"/>
    </operation>
  </portType>
  <binding name="usuariosLDAPPortBinding" type="tns:RegistrarUsuarioImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="autenticacionUWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/usuariosLDAP/autenticacionUWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addUsuario">
      <soap:operation soapAction="http://servicios.laaraucana.cl/usuariosLDAP/addUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delUsuario">
      <soap:operation soapAction="http://servicios.laaraucana.cl/usuariosLDAP/delUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction="http://servicios.laaraucana.cl/usuariosLDAP/changePassword"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="usuariosLDAPService">
    <port binding="tns:usuariosLDAPPortBinding" name="usuariosLDAPPort">
      <soap:address location="http://localhost:9083/IntegradorLDAP/usuariosLDAPService"/>
    </port>
  </service>
</definitions>