IntegradorLDAP/WSCuentaBancariaWeb/WebContent/WEB-INF/wsdl/CuentaBancariaServicioService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="CuentaBancariaServicioService" targetNamespace="http://servicio.laaraucana.cl/cuentabancaria" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.laaraucana.cl/cuentabancaria" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicio.laaraucana.cl/cuentabancaria" schemaLocation="CuentaBancariaServicioService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="autenticacionWS">
    <part element="tns:autenticacionWS" name="parameters"/>
  </message>
  <message name="autenticacionWSResponse">
    <part element="tns:autenticacionWSResponse" name="parameters"/>
  </message>
  <message name="ingresarCuenta">
    <part element="tns:ingresarCuenta" name="parameters"/>
  </message>
  <message name="ingresarCuentaResponse">
    <part element="tns:ingresarCuentaResponse" name="parameters"/>
  </message>
  <message name="revocarCuenta">
    <part element="tns:revocarCuenta" name="parameters"/>
  </message>
  <message name="revocarCuentaResponse">
    <part element="tns:revocarCuentaResponse" name="parameters"/>
  </message>
  <message name="consultaCuenta">
    <part element="tns:consultaCuenta" name="parameters"/>
  </message>
  <message name="consultaCuentaResponse">
    <part element="tns:consultaCuentaResponse" name="parameters"/>
  </message>
  <portType name="CuentaBancariaServicioImpl">
    <operation name="autenticacionWS">
      <input message="tns:autenticacionWS" wsam:Action="http://servicios.laaraucana.cl/cuentabancaria/autenticacionWS"/>
      <output message="tns:autenticacionWSResponse" wsam:Action="http://servicio.laaraucana.cl/cuentabancaria/CuentaBancariaServicioImpl/autenticacionWSResponse"/>
    </operation>
    <operation name="ingresarCuenta">
      <input message="tns:ingresarCuenta" wsam:Action="http://servicios.laaraucana.cl/cuentabancaria/ingresarCuenta"/>
      <output message="tns:ingresarCuentaResponse" wsam:Action="http://servicio.laaraucana.cl/cuentabancaria/CuentaBancariaServicioImpl/ingresarCuentaResponse"/>
    </operation>
    <operation name="revocarCuenta">
      <input message="tns:revocarCuenta" wsam:Action="http://servicios.laaraucana.cl/cuentabancaria/revocarCuenta"/>
      <output message="tns:revocarCuentaResponse" wsam:Action="http://servicio.laaraucana.cl/cuentabancaria/CuentaBancariaServicioImpl/revocarCuentaResponse"/>
    </operation>
    <operation name="consultaCuenta">
      <input message="tns:consultaCuenta" wsam:Action="http://servicios.laaraucana.cl/cuentabancaria/consultaCuenta"/>
      <output message="tns:consultaCuentaResponse" wsam:Action="http://servicio.laaraucana.cl/cuentabancaria/CuentaBancariaServicioImpl/consultaCuentaResponse"/>
    </operation>
  </portType>
  <binding name="CuentaBancariaServicioPortBinding" type="tns:CuentaBancariaServicioImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="autenticacionWS">
      <soap:operation soapAction="http://servicios.laaraucana.cl/cuentabancaria/autenticacionWS"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ingresarCuenta">
      <soap:operation soapAction="http://servicios.laaraucana.cl/cuentabancaria/ingresarCuenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="revocarCuenta">
      <soap:operation soapAction="http://servicios.laaraucana.cl/cuentabancaria/revocarCuenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCuenta">
      <soap:operation soapAction="http://servicios.laaraucana.cl/cuentabancaria/consultaCuenta"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CuentaBancariaServicioService">
    <port binding="tns:CuentaBancariaServicioPortBinding" name="CuentaBancariaServicioPort">
      <soap:address location="http://localhost:9083/WSCuentaBancariaWeb/CuentaBancariaServicioService"/>
    </port>
  </service>
</definitions>