IntegradorLDAP/ContratoCanalesRemotos/ContratoCanalesRemotos/WebContent/wsdl/CEDU0702.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sinacofi.cl/WebServices" xmlns:s1="http://wsdl.sinacofi.cl/SDN125RES" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sinacofi.cl/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sinacofi.cl/WebServices">
      <s:import namespace="http://wsdl.sinacofi.cl/SDN125RES" />
      <s:element name="Consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="claveUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroSerie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canalInstitucion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultaResult" type="tns:respuestaCEDU0702" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respuestaCEDU0702">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigoRetorno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RESUMEN" type="s1:RESUMEN" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE" type="s1:DETALLE" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wsdl.sinacofi.cl/SDN125RES">
      <s:complexType name="RESUMEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDCHALLENGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DESAFIO" type="s1:ArrayOfPREGUNTAS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPREGUNTAS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PREGUNTAS">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="CODIGO_PREGUNTA" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="PREGUNTA" type="s:string" />
                <s:element minOccurs="0" maxOccurs="unbounded" name="ALTERNATIVAS">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" name="CODIGO_RESPUESTA" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" name="RESPUESTA" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta" />
  </wsdl:message>
  <wsdl:message name="ConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="CEDU0702Soap">
    <wsdl:operation name="Consulta">
      <wsdl:input message="tns:ConsultaSoapIn" />
      <wsdl:output message="tns:ConsultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CEDU0702Soap" type="tns:CEDU0702Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://sinacofi.cl/WebServices/Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CEDU0702">
    <wsdl:port name="CEDU0702Soap" binding="tns:CEDU0702Soap">
      <soap:address location="https://www.sinacofi.cl/SinacofiWS_CEDU/CEDU0702.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>